
<div>
    <h2>Show Position</h2>
    
    <table class="tableCenter">
        <tr>
              <td class="columnLabel boldText">Picture:</td>
            <td><%=image_tag @position.image.url(:small) %></td> 
        </tr> 
        <tr>
            <td class="columnLabel boldText">Name:</td>
            <td><%= @position.name %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Type:</td>
            <td><%= @position.pos_type %></td>
        </tr>
    <!--    <tr>
            <td class="columnLabel boldText">Major:</td>
            <td><%#= @position.major %></td>
        </tr> currently not working because of troubles with migration --> 
    </table>
    
    <div class="divCenter">
        <%= link_to("Back to list", positions_path, :class => "btn btn-warning btn sm") %>    
    </div>
</div>
