
<div>
    <h2>Show Division</h2>
    
    <table class="tableCenter">
        <tr>
            <td class="columnLabel boldText">Name:</td>
            <td><%= @division.name %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Description:</td>
            <td><%= @division.description %></td>
        </tr>
    </table>
    
    <div class="divCenter">
        <%= link_to("Back to list", divisions_path, :class => "btn btn-warning btn-sm") %>
    </div>
</div>
