<%= link_to("<< Back to list", divisions_path, :class => "back-link") %>

<div>
    <h2>Show Division</h2>
    
    <table>
        <tr>
            <td>Name</td>
            <td><%= @division.name %></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><%= @division.description %></td>
        </tr>
    </table>
</div>
