<%= link_to("<< Back to list", events_path, :class => "back-link") %>

<div>
    <h2>Show Event</h2>
    
    <table>
        <tr>
            <td>Name</td>
            <td><%= @event.name %></td>
        </tr>
        <tr>
            <td>Link to Event</td>
            <td><%= @event.link_to_event %></td>
        </tr>
    </table>
</div>
