
<div>
    <h2>Show Committee</h2>
    
    <table class="tableCenter">
        <tr>
            <td class="columnLabel boldText">Name:</td>
            <td><%= @committee.name %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Description:</td>
            <td><%= @committee.description %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Image:</td>
            <td><%= image_tag(@committee.image, :class => "show_size") %></td>
        </tr>
    </table>
    
    <div class="divCenter">
        <%= link_to("Back to list", committees_path, :class => "btn btn-warning btn-sm") %>
    </div>
</div>
