// Place all the styles related to the Access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid {
    background-color: transparent;
}

#nav_bar {
    background-color: transparent;
}

.nav .navbar_nav {
    background-color: transparent;
}

.navbar-header {
    background-color: transparent;
}

#first_image .style_main{
    background-size:100% auto ;
}

body {
    //padding-top: 70px;
}

section {
    padding-top: 70px;
}