/* ************************************************************************* */
/* Center an HTML table horizontally.                                        */
/* ************************************************************************* */
.tableCenter
{
    margin-left: auto;
    margin-right: auto;
    border-collapse:separate;
    border-spacing:0 5px; 
}

/* ************************************************************************* */
/* Center an HTML div horizontally.                                          */
/* ************************************************************************* */
.divCenter
{
    text-align:center;
}

/* ************************************************************************* */
/* Bold text                                                                 */
/* ************************************************************************* */
.boldText
{
    font-weight: bold;
}

/* ************************************************************************* */
/* Format label column in HTML table.                                        */
/* ************************************************************************* */
.columnLabel
{
    text-align: right;
    padding-right : 5px;
}

/* ************************************************************************* */
/* Center headers h1 through h6.                                             */
/* ************************************************************************* */
h1, h2, h3, h4, h5, h6
{
    text-align: center;
}

/* ************************************************************************* */
/* Image sizes.                                                              */
/* ************************************************************************* */
.thumb_size
{
    height: 32px;
}

.show_size
{
    height: 64px;
}
